.main {
  position: relative;
  width: 400px;
  height: 600px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.16);
  padding: 30px 40px;
}

/* Header */
.main__header {
  width: 100%;
  height: 100px;
  padding: 10px 0 20px;
}

.main__header-date {
  height: 50px;
}

.main__header-date-day {
  font-size: 44px;
  font-weight: bold;
  color: #8862ff;
  margin-right: 10px;
}

.main__header-date-month {
  height: 20px;
  font-size: 14px;
  font-weight: bold;
  color: #666666;
}

.main__header-date-year {
  height: 18px;
  font-size: 14px;
  color: #666666;
}

.main__header-week {
  font-size: 14px;
  color: #333333;
}

/* Body */
.main__body {
  width: 100%;
  height: 440px;
  overflow-y: auto;
}

/* Item */
.main__item {
  width: 100%;
  height: 50px;
}

.main__item-checkbox {
  position: relative;
  width: 22px;
  height: 22px;
  border-radius: 5px;
  border: solid 1px #cccccc;
  margin-right: 10px;
  background-color: white;
  cursor: pointer;
  transition: .1s;
}

.main__item-checkbox.checked {
  background-color: #8862ff;
  border: solid 1px #8862ff;
}

.main__item-checkbox:before,
.main__item-checkbox:after {
  content: '';
  position: absolute;
  background-color: white;
  width: 2px;
  border-radius: 1px;
  transform: rotateZ(0deg);
  transition: .1s;
}

.main__item-checkbox:before {
  height: 6px;
  transform: rotateZ(0deg) translate(0px, 0px);
}

.main__item-checkbox.checked:before {
  transform: rotateZ(-60deg) translate(-3px, 0px);
}

.main__item-checkbox:after {
  height: 10px;
  transform: rotateZ(0deg) translate(0px, 0px);
}

.main__item-checkbox.checked:after {
  transform: rotateZ(25deg) translate(2px, -2px);
}

.main__item-name {
  position: relative;
  font-size: 14px;
  color: black;
  transition: .2s;
}

.main__item-name:after {
  content: '';
  position: absolute;
  left: 0;
  top: 55%;
  transform: translateY(-50%);
  width: 0%;
  height: 1px;
  background-color: #888888;
  transition: .2s;
}

.main__item-name.completed {
  color: #aaaaaa;
}

.main__item-name.completed:after {
  width: 100%;
}

/* Footer */
.main__footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0;
}

.main__footer-create-button {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 50%);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #9891ff;
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.16);
  transition: .5s;
  cursor: pointer;
}

.main__footer-create-button.active {
  bottom: 470px;
  left: 0;
}

.main__footer-create-button:before,
.main__footer-create-button:after {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 2px;
  transition: .5s;
}

.main__footer-create-button:before {
  width: 20px;
  height: 4px;
}
.main__footer-create-button:after {
  width: 4px;
  height: 20px;
}

.main__footer-create-button.active:before {
  transform: translate(-50%, -50%) rotateZ(585deg);
}
.main__footer-create-button.active:after {
  transform: translate(-50%, -50%) rotateZ(585deg);
}

/* Footer Popup */
.main__footer-popup {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0px;
  background-color: white;
  box-shadow: 0px -4px 8px 0px rgba(0, 0, 0, 0.08);
  border-radius: 20px;
  padding: 0px 30px;
  transition: .5s;
  overflow: hidden;
}

.main__footer-popup.show {
  height: 470px;
}

.main__footer-popup-body {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 30px 0;
}

.main__footer-input {
  position: relative;
  width: 100%;
  height: 40px;
  padding: 0 10px;
  border-bottom: solid 1px #cccccc;
}

.main__footer-input:after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 0%;
  height: 1px;
  background-color: #8862ff;
  transition: .2s;
}

.main__footer-input.focus:after {
  width: 100%;
}

.main__footer-input > input {
  width: 100%;
  height: 100%;
  font-size: 14px;
  border: none;
}

.main__footer-popup-button {
  margin-top: 20px;
  width: 100%;
  height: 40px;
  background-color: #9891ff;
  border-radius: 40px;
  font-size: 14px;
  font-weight: bold;
  color: white;
  cursor: pointer;
}